
// Imports
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Object of colors
$colors: (
  primary: #005DFF,
  primary-light: lighten(#005dff, 40%),
  primary-dark: darken(#005dff, 40%),
  accent: #FFF6BB,
);

// Variables
$padding: 15px;
$borders: 15px;

// Function
@function color($color-name) {
  @return map-get($map: $colors, $key: $color-name);
}

$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat';

  // Nested CSS
  #bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: color(primary);
    clip-path: polygon(100% 0, 100% 84%, 31% 100%, 0 100%, 0 0);

    @include desktop {
      clip-path: polygon(0 0, 80% 0%, 58% 100%, 0% 100%);
    }

  }

  header a {
    display: block;
    padding: $padding;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }

}

main {

  @include desktop {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: "primary card";
  }
  
  section#card {
    width: 80%;
    margin: 1em auto;
    padding: 20px;
    background: #fff;
    border-radius: $borders;
    -webkit-border-radius: $borders;
    -moz-border-radius: $borders;
    -ms-border-radius: $borders;
    -o-border-radius: $borders;
    box-shadow: 0 10px 30px rgba($color: #000000, $alpha: .2);

    @include desktop {
      grid-area: card;
      height: fit-content;
      align-self: center;
      margin: 1em;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin-block-end: 10px;

      span {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: color(primary-light);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-right: 10px;
      }

      strong {
        display: inline-block;
        margin-left: max($numbers: 40px);
        margin-top: 10px;
      }

    }

  }

  section#primary {
    padding: $padding;
    color: #fff;
    text-align: center;

    @include desktop {
      grid-area: primary;
      text-align: left;
      margin: 4em 0 0 4em;
    }

    h1 {
      font-size: 3em;
      margin-top: 10px;
      text-transform: uppercase;
      
      @include desktop {
        width: 30%;
        font-size: 4em;
        line-height: .9em;
      }

    }

    p {
      font-size: 1.4em;
    }

    a {
      color: color(primary-dark);
      border-radius: $borders;
      -webkit-border-radius: $borders;
      -moz-border-radius: $borders;
      -ms-border-radius: $borders;
      -o-border-radius: $borders;
      text-decoration: none;
      text-transform: uppercase;
      background-color: color(accent);
      display: block;
      text-align: center;
      margin: 50px auto 0 auto;
      padding: $padding;

      @include desktop {
        display: inline-block;
        padding: $padding $padding * 4;
      }

    }

  }

}

* {
  box-sizing: border-box;
}